<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'blog/fonts/icomoon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'blog/fonts/flaticon/font/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/aos.css' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container-fluid bg-dark">
            {% include "blog/navbar.html" %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block msg %}{% endblock msg %}
                </div>
            </div>
            <div class="row">
                {% block side %}{% endblock side %}
                {% block content %}{% endblock content %}
            </div>
        </div>

        <div class="site-footer">
            <div class="container">
              <div class="row mb-5">
                <div class="col-md-4">
                  <h3 class="footer-heading mb-4">About Us</h3>
                  {% for post in home %}
                  <p>{{post.about | safe }}</p>
                  {% endfor %}
      
                </div>
                <div class="col-md-3 ml-auto">
                  <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                  <ul class="list-unstyled float-left mr-5">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Subscribes</a></li>
                  </ul>
                  <ul class="list-unstyled float-left">
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Nature</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  
      
                  <div>
                    <h3 class="footer-heading mb-4">Connect With Us</h3>
                    <p>
                      <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                      <a href="#"><span class="icon-twitter p-2"></span></a>
                      <a href="#"><span class="icon-instagram p-2"></span></a>
                      <a href="#"><span class="icon-rss p-2"></span></a>
                      <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                  </div>
                </div>
              </div>

          
        <script src="{% static 'blog/js/jquery.js' %}"></script>
        <script src="{% static 'blog/js/popper.js' %}"></script>
        <script src="{% static 'blog/js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>